@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu-Regular.eot');
  src: local('☺'), url('../fonts/Ubuntu-Regular.woff') format('woff'), url('../fonts/Ubuntu-Regular.ttf') format('truetype'), url('../fonts/Ubuntu-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.eot');
  src: local('☺'), url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf') format('truetype'), url('../fonts/Ubuntu-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../img/backgraund.png);
}
a,
a:focus,
a:hover {
  text-decoration: none;
  font-family: 'MyriadPro-Regular';
  font-size: 23px;
}
.acordion-header {
  margin-top: 80px;
  font-family: 'Ubuntu-Bold';
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #0bbaf0;
}
.acordion-subtitle {
  font-family: 'MyriadPro-Regular';
  text-align: center;
  font-size: 2.4rem;
  color: #37c5f2;
  text-transform: uppercase;
}
hr {
  text-align: center;
  width: 124px;
  border: 1px solid #bfc2c2;
}
.panel {
  width: 860px;
  background-color: #fafcfe;
  border: none;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}
.collapse {
  display: none;
  width: 846px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.panel-default > .panel-heading {
  background-color: #00BBF2;
  text-align: center;
  height: 54px;
  padding-top: 25px;
  color: #fff;
}
.panel-body {
  font-family: MyriadPro-Regular;
  font-size: 2.1rem;
  width: 846px;
  border: 4px solid #DDDDDD;
  padding-left: 30px;
  margin-bottom: -5px;
}
