@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype"),
    url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg");
}
@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular.eot") format("embedded-opentype"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff"),
    url("../fonts/BebasNeueRegular.ttf") format("truetype"),
    url("../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/LatoRegular.eot");
  src: url("fonts/LatoRegular.eot") format("embedded-opentype"),
    url("fonts/LatoRegular.woff2") format("woff2"),
    url("fonts/LatoRegular.woff") format("woff"),
    url("fonts/LatoRegular.ttf") format("truetype"),
    url("fonts/LatoRegular.svg#LatoRegular") format("svg");
}
@font-face {
  font-family: "LobsterRegular";
  src: url("fonts/LobsterRegular.eot");
  src: url("fonts/LobsterRegular.eot") format("embedded-opentype"),
    url("fonts/LobsterRegular.woff2") format("woff2"),
    url("fonts/LobsterRegular.woff") format("woff"),
    url("fonts/LobsterRegular.ttf") format("truetype"),
    url("fonts/LobsterRegular.svg#LobsterRegular") format("svg");
}
.open-sans_font {
  font-family: "OpenSansRegular", sans-serif;
}
.bebas-font {
  font-family: "BebasNeueRegular", sans-serif;
}
.lato-font {
  font-family: "LatoRegular", sans-serif;
}
.lobster-font {
  font-family: "LobsterRegular", sans-serif;
}

.text-box {
  padding-top: 2rem;
}
.result {
  margin-bottom: 0;
  margin-top: 3rem;
}
.fonts {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
small {
  font-size: 1.3rem;
}
