@font-face {
  font-family: 'Gilroy-Reg';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'), url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-SBold';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'), url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-SemiBold.woff') format('woff'), url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'iconbrandsarrows';
  src: url('../fonts/iconbrandsarrows.ttf?qu6was') format('truetype'), url('../fonts/iconbrandsarrows.woff?qu6was') format('woff'), url('../fonts/iconbrandsarrows.svg?qu6was#iconbrandsarrows') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconbrandsarrows' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fa:before {
  content: "\e902";
}
.icon-tw:before {
  content: "\e903";
}
.icon-in:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
/* Screen resolutions */
/* colors nav */
/* сolor main */
/* form color */
/* ========================== Basiс setting ==========================*/
html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
}
.container {
  padding: 0 25px;
}
/*========================== Basic seting END ==========================*/
/*========================= Form design ===========================================*/
.form {
  padding: 0rem 2rem;
  background: #ffffff;
  text-align: center;
  border: 1px solid #a3a8a8;
  -webkit-box-shadow: 2px 1px 5px #7a7676;
          box-shadow: 2px 1px 5px #7a7676;
  border-radius: 5px;
  margin-bottom: 30px;
  /* поле для ввода  */
}
.form-input,
.form-textarea {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.form-btn {
  display: block;
  width: 100%;
  height: 3.5rem;
  font-size: 1.4rem;
  background-color: #dfdf12;
  margin-bottom: 15px;
}
.form h3 {
  font-size: 1.9rem;
  font-family: 'Gilroy-Reg', sans-serif;
  margin-bottom: 2rem;
}
textarea {
  resize: none;
}
/*========================== Navigation =============================================*/
.navbar {
  background-color: #0a0d0d;
  -webkit-box-shadow: 0px 6px 50px 0px #cacaca;
          box-shadow: 0px 6px 50px 0px #cacaca;
}
.navbar a {
  padding: 0;
}
.navbar-brand img {
  margin-top: 0.6rem;
  max-width: 6rem;
  -webkit-box-shadow: 0px 0px 10px 0px #85a6a4;
          box-shadow: 0px 0px 10px 0px #85a6a4;
  border-radius: 50%;
}
.navbar .dev-block {
  color: #85a6a4;
}
.navbar .dev-name {
  font-size: 2.5rem;
  font-family: 'Gilroy-SBold', sans-serif;
  margin: 0.6rem 0 0 0;
}
.navbar .dev-link {
  font-family: 'Gilroy-Reg', sans-serif;
  font-size: 0.5rem;
}
.dev-order {
  display: table;
  width: 100%;
  height: 7rem;
}
.dev-order-block {
  display: table-cell;
  vertical-align: middle;
}
.dev-order-btn {
  background-color: #ff0101;
  color: #ffffff;
  font-family: 'Gilroy-SBold', sans-serif;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.wrap-block-list i {
  font-size: 2rem;
  color: #85a6a4;
}
.nav-pills > li > a:focus {
  color: black;
  background-color: #55544c;
}
.nav-pills > li > a:hover {
  background-color: #555345;
  color: black;
}
/* ============================= navigation END =============================================*/
/*============================= main =================================================*/
.main {
  padding: 4rem 0;
  background: url('../img/main-bg.jpg') center no-repeat;
  background-size: 100%;
  margin-bottom: 100px;
}
.main-title {
  border-radius: 10px;
  padding-right: 10px;
  text-align: right;
  background-color: #0A0D0D;
  opacity: 0.6;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  color: #ffffff;
  font-family: 'Gilroy-SBold', sans-serif;
  font-size: 3rem;
  margin-bottom: 50px;
}
.main-subtitle {
  list-style: none;
  padding: 0;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #ffffff;
}
.main-btn {
  margin-bottom: 100px;
}
.main-btn-portfolio {
  height: 50px;
}
.main-btn_look {
  text-align: right;
}
/*========================== main END ==========================*/
/*========================== Portfolio ==========================*/
.portfolio-navbar {
  margin-bottom: 60px;
}
.portfolio-header {
  text-align: center;
  margin-bottom: 15px;
}
.portfolio-explanation {
  text-align: center;
  margin-bottom: 40px;
}
.portfolio-gallery {
  margin-bottom: 60px;
}
/* porfolio gallery setting start screen header */
.thumb {
  padding: 5px;
}
.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}
.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* porfolio gallery setting start screen header END */
.budget {
  margin-bottom: 30px;
}
/*========================== Portfolio END ==========================*/
/*========================== Comments ==========================*/
.comments {
  padding: 4rem 0;
  background: url('../img/header-bg.jpg') center no-repeat;
  background-size: 100%;
  margin-bottom: 100px;
}
.comments-header {
  margin-bottom: 40px;
}
.comment-customer {
  background-color: #fff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(12, 8, 8, 0.19);
          box-shadow: 6px 10px 18px 0px rgba(12, 8, 8, 0.19);
}
.comment-customer-img {
  margin-top: 30px;
  margin-bottom: 40px;
}
.comment-customer-name {
  margin: 0 auto;
}
.comment-customer-text {
  margin-top: 30px;
}
.comment-customer-link {
  display: block;
  margin-bottom: 20px;
}
.comment-customer-info {
  margin-bottom: 25px;
}
.comment-slick-prev {
  left: -4rem;
}
.comment-slick-next {
  right: -4rem;
}
.comment-slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  padding: 0px;
}
.comment-slick-btn .icon-arrow-right {
  width: 50%;
  font-size: 2rem;
  font-family: 'Gilroy-SBold', sans-serif;
}
.comment-slick-btn .icon-arrow-left {
  width: 50%;
  font-size: 2rem;
  font-family: 'Gilroy-SBold', sans-serif;
}
/*========================== Comments END ==========================*/
/*========================== footer ================================*/
/* setting for input  */
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
:focus::-ms-input-placeholder {
  color: transparent;
}
:focus::placeholder {
  color: transparent;
}
/*========================== footer END ================================*/
/*============ popup porfolio gallery setting ===========*/
/* Styles for dialog window */
.small-dialog-style {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
}
/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in {
  /* animate in */
  /* animate out */
  /* Dark overlay, start state */
  /* animate in */
  /* animate out */
}
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/*================ popul setting gallery already called END ================*/
/*========================== media queries ==========================*/
@media (max-width: 768px) {
  .navbar-brand img {
    margin-top: 0.3rem;
    max-width: 4.5rem;
  }
  .social-networking-link {
    display: none;
  }
}
/*========================== media queries END ==========================*/
